body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/fondo.jpg);
    background-size: 95%; /* Ajusta este valor para hacerlo más pequeño */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.option {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
}

.option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.option.selected {
    border-color: #4CAF50;
}

#total {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

#pse-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

#pse-button:hover {
    background-color: #45a049;
}
